API_ID=28795088
API_HASH=6684413228de152cb7e93ec1e97cf737
BOT_TOKEN=8326188093:AAETEk8tpKSE8HbQpXfJOynl8VtblDYsMUI
MONGO_DB_URI=mongodb+srv://kelra:kelra@cluster0.tagsp75.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1003111169314
OWNER_ID=273057737
STRING_SESSION=BQG3YNAAAOfZ5Ii8FSskfZ7qpmpf0-y9xSWBC56iBpPUU2qMSCysLspZ4rVt1fc_4N8QJRez9LNoNS2ymVLPizf-SqsFvsJOco33_bn1AWzK23hOcVgUdjlKsI9JALaXomLsNbUPQplBav6gR8MT4V0Cz1kfXJX5OqXcZ4a7K99_GszZA8uvjOU_SotCc-SE-jeiI8D8DzrTyjdIJz8GzHh9icf3Z_9nVGA7RXZuEL6aWbwxlp6gUGdt3BbRa3Y7xliQnuWIJaEZZMo6EFEeH3r-UiB1ngj3EUPGwinVWLxYq5CLFew68uSwUT5iRcKcrwz9NPPSYKT4ViYLuFVwwBAHJ-Y0BwAAAAFU7rCTAA
